.dialog-title{
    font-size: 35px;
    font-family: monospace;
    font-weight: 300;
    text-align: center;
}
.dialog-error{
    padding: 0;
    text-align: center;
    display: none;
    font-size: 27px;
    color: red;
    margin-left: 20%;
    margin: 0;
}
.dialog label{
    font-size: 25px;
    font-family: monospace;
}
.dialog input{
    font-size: 25px;
    font-family: monospace;
    border-radius: 10%;
}
.dialog-button{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #BDB76B;

    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.dialog-button:hover {
    background-color:#FF8C00;

}

.dialog-button:active {
    background-color: #BDB76B;
   
}

.dialog {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    animation: fadeIn 4s ease-in-out;
    animation: slideIn 3s ease-in-out;
    animation: fadeOut 2s ease-in-out;
}

.dialog-content {
    background-color: #F0E68C;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    width: 50%;
    height:30% ;
    animation: slideIn 0.3s ease-in-out;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

.fadeOut {
    animation: fadeOut  3s ease-in-out;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
